.comment-container {
    display: flex;
    justify-content: center;
    background: #e5e5e5;
    width: 100vw;
    min-height: 700px;
}

.comment-card {
    background: #ffffff;
    margin: 10px;
    padding: 10px;
    min-width: 425px;
    max-height: 200px;
}

.comment-stat {
    background: darkblue;
    color: #ffffff;
    min-height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
