/* * {
    padding: 0;
    margin: 0;
    background-color: #ffffff;


} */

.comment-box {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 500px;
}

.comment-box h2 {
    font-size: 20px;
    margin-bottom:  15px;
}

.comment-box input {
    width: 495px;
    height: 50px;
    /* padding: 0 20px; */
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #01497c;

}

.comment-box input:focus {
    border: 1px solid #fca311;
    outline: 0;
}

.comment-box textarea {
    width: 495px;
    height: 150px;
    /* padding: 15px 20px; */
    margin-bottom: 10px;
    border-radius:  5px;
    border: 1px solid #01497c;
}

.comment-box textarea:focus {
    border: 1px solid #fca311;
    outline: 0;
}

.btn {
    border: 0;
    padding: 10px 30px;
    background: #86b0b6;
    font-size: 18px;
    border-radius: 5px;
    color: #e5e5e5;
}

.btn:hover {
    background-color: #01497c ;
}

form {
    background: #01497c ;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #e5e5e5; */
    border-radius: 10px;
    padding: 5px;
}

.form-control {
    width: 200px;

}

@media screen and (max-width: 425px) {

    .comment-box {
        display: flex;
        margin: 0 auto;
    }

    .form {
        width: 80vw;
        /* align-items: center; */
 
    }

    /* .comment-box {
        width: 225px; */
        /* padding-right: 40px; */
    /* } */

    .comment-box input {
        width: 78vw;
    }

    .comment-box textarea {
        width: 78vw;
    }

    .btn {
        display: flex;
        /* margin: ; */
    }
}