.root {
  --clr-primary: #ffffff;
  --primary: #e5e5e5;
  --primary-two: #000000;
  --secondary: #01497c;
  --neutral: #fca311;
  }
  
  /* body {
    font-weight: 500;
    margin: 0;
    background-color: var(--primary);
  
  } */
  /*Navbar */
  /*Navbar */
  
  /* font google*/
  .navbar{
    display: flex;
    height: 60px;
    width: 100%;
    background: var(--clr-primary);
    justify-content: space-between;
    color: var(--primary-two);
    align-items: center;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    height: 100%;
    padding-inline-start: 0;
    margin-block-start: 0; 
    margin-block-end: 0;
    align-items: center;
  
  }
  a {
    text-decoration: none;
    padding: 0 20px 0 20px;
    font-size: 20px;
    color: #000000;
  }
  
  /* .search-box {
    color: #fca311;
    
  } */
  
  /* .search-box:hover {
    border-color: var(--neutral);
    border-radius: 25%;
  } */
  
  
  a:hover{
    cursor: pointer;
    color:var(--neutral);
  }
  
  
  span {
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-weight: 500;
  
  }
  
  ion-icon {
    font-size: 64px;
  }
  
  .menu {
    font-size: 36px;
    width: 6px;
    align-items: center;
    cursor: pointer;
    display: none;
  
  }



  /*ARTICLE */
  /*ARTICLE */
.header {
background: orange;
}

.article-card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210 80px;
  grid-template-areas: "image" "text" "stats";

  font-family: roboto;
  border-radius: 18px;
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;

  transition: 0.6s ease;
  cursor: pointer;
}

.card-image {

}

.card-text {
  grid-area: text;
}

.card-state {
  grid-area: stats;
}
  /*BLOG */
  /*BLOG */
.blog-section {
  background-color: palegreen;
 
}

  /*FOOTER */
  /*FOOTER */
  .footer {
    background-color: rebeccapurple;
  }
  







  @media screen and (max-width: 425px) {
  
  
    .navbar {
      align-items: center;
      flex-direction: column;
    }
  
    .menu-container {
      width: 300px;
      height: calc(100% - 65px);
      /* background:#ffffff; */
      position: absolute;
      top: 55px;
      left: -300px;
      transition: 300ms ease left;
      flex-direction: column-reverse;
  
      padding-left: 30px ;
  
    }
  
    li {
      height: 60px;
      display: flex;
      justify-content: center;
    }
  
    a {
      width: 100%;
      padding: 0;
    }
  
    ul {
      flex-direction: column;
      justify-content: flex-start;
      padding: 0;
      padding-top: 20px ;
    }
  
    ul, li {
      width: 100%;
      padding: 0;
    }
  
    .menu-container.active {
      left: 0px;
    }
    
    .menu-container {
      display: flex;
    }
  }
