.root {
  --clr-primary: #ffffff;
  --primary: #e5e5e5;
  --primary-two: #000000;
  --secondary: #01497c;
  --neutral: #fca311;
  }
  
  /* body {
    font-weight: 500;
    margin: 0;
    background-color: var(--primary);
  
  } */
  /*Navbar */
  /*Navbar */
  
  /* font google*/
  .navbar{
    display: flex;
    height: 60px;
    width: 100%;
    background: var(--clr-primary);
    justify-content: space-between;
    color: var(--primary-two);
    align-items: center;

    border-bottom:50px solid var(--secondary) ;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    height: 100%;
    padding-inline-start: 0;
    margin-block-start: 0; 
    margin-block-end: 0;
    align-items: center;
  
  }
  a {
    text-decoration: none;
    padding: 0 20px 0 20px;
    font-size: 20px;
    color: #000000;
  }

  .P {
    min-height: 1;
  }
  
  /* .search-box {
    color: #fca311;
    
  } */
  
  /* .search-box:hover {
    border-color: var(--neutral);
    border-radius: 25%;
  } */
  
  .like-form {
    width: 100px;
    height: 35px;
  }
  a:hover{
    cursor: pointer;
    color:var(--neutral);
  }
  
  span {
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-weight: 500;
  
  }
  
  .menu {
    font-size: 36px;
    width: 6px;
    align-items: center;
    cursor: pointer;
    display: none;
  }



  /*ARTICLE */
  /*ARTICLE */
.header {
display: grid;
/* grid-template-columns: ;
grid-template-rows: ; */
background: #ffffff;
padding: 20px;

}

.article-container {
  border-top: 3px solid #01497c;
}

.article-card {
  display: grid;
  max-width: 300px;
  max-height: 500px;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210 80px;
  grid-template-areas: "image" "text" "stats";
  font-family: roboto;
  border-radius: 18px;
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
  margin: 5px 20px 10px 60px;
  transition: 0.6s ease;
  cursor: pointer;
}

/* .card-image {

} */

.article-button {
height: 30px;
}

.card-text {
  grid-area: text;
}

.card-stat {
  grid-area: stats;

}
  /*BLOG */
  /*BLOG */
.blog-section {
  background-color: var(--neutral);
  display: grid;
 
}

.blog-containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr );
  justify-content: center;
  align-items: center; 
  border-top: 3px solid #01497c;

}

  /*FOOTER */
  /*FOOTER */
  /* .footer {
    background-color: rebeccapurple;
  } */
  







  @media screen and (max-width: 425px) {

    .App {
      display: grid;
    }
  
    .navbar {
      align-items: center;
      flex-direction: column;
      display: grid;
      grid-column: 1fr;
    }
  
    .menu-container {
      width: 300px;
      height: calc(100% - 65px);
      /* background:#ffffff; */
      position: absolute;
      top: 55px;
      left: -300px;
      transition: 300ms ease left;
      flex-direction: column-reverse;
      padding-left: 30px ;
  
    }
  
    li {
      height: 60px;
      display: flex;
      justify-content: center;
    }
  
    a {
      width: 100%;
      padding: 0;
    }
  
    ul {
      flex-direction: column;
      justify-content: flex-start;
      padding: 0;
      padding-top: 20px ;
    }
  
    ul, li {
      width: 100%;
      padding: 0;
    }
  
    .menu-container.active {
      left: 0px;
    }
    
    .menu-container {
      display: flex;
    }


    /* .header {
      display: grid;
      grid-column: 1fr;
    } */

    .blog-section {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }

    .blog-containers {
      grid-template-columns:  1fr;

    }
    .like-form {
      width: 100px;
      padding-top: -100px;
      height: 33px;
    }
  }
